/* header */
#header {
    height: 60px;
    align-content: center;
    background: #2C3D4E;
}
#header h1 {
    text-align: center;
    font-size: 28px;
    color: #fff;
}
#header h1 span {
    color: #42B883
}