/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,ol,li {
    list-style: none;
}
a {
    text-decoration: none;
    display: inline-block;
}
/*  */
form {
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 100px calc(100% - 100px);
}
label {
    text-align: start;
}
input {
    width: 100%;
    margin: 10px 0;
}
input[type="text"] {
    width: calc(100% - 100px);
}
input[name*="pwd"]{
    width: calc(100% - 100px);
}
input[type*="submit"]{
    column-span: 2;
} */
